"Don't use ~/.exrc configuration file
set noexrc

"Enable filetype indention and highlighting
filetype off
filetype plugin indent on
syntax enable

"Show line numbers
set nu
set numberwidth=5

"Enable mouse mode
"set mouse=a

" Undo-Level at maximum
set ul=1000
